@use 'variables' as v;

.card{
    width: 200px;
    height: 250px;
    border-radius: 16px;
    background-color: v.$color2;
    box-shadow: 3px 3px 10px;
    padding: 48px 12px 12px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &-name{
        background-color: v.$color1;
        text-align: center;
        width: 140px;
        position: absolute;
        color: white;
        right: 0;
        top: 0;
        padding: 6px 12px;
    }

    &-circle{
        background-color: v.$color4;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        position: absolute;
    }
    &-img{
        z-index: 1;
    }
}